In [49]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

data = pd.read_csv("data.csv", index_col=0)
data.index = pd.to_datetime(data.index)
data.head()

              Open    High     Low   Close      Volume
Date
2000-10-02  3840.0  3880.0  3760.0  3810.0  41120852.0
2000-10-04  3700.0  3950.0  3590.0  3890.0  82636952.0
2000-10-05  4020.0  4080.0  3940.0  3940.0  62749752.0
2000-10-06  3800.0  3900.0  3760.0  3900.0  54935500.0
2000-10-09  3820.0  3840.0  3680.0  3690.0  63199752.0

In [47]:
import FinanceDataReader as fdr
data = fdr.DataReader('005930', start = '2000', end = '2020')

In [50]:
df = pd.DataFrame()
for year in range(2000, 2020):
    buy_month = str(year) + '-11'
    sell_month = str(year+1) + '-04'
    df = df.append(data.loc[buy_month].iloc[0])
    df = df.append(data.loc[sell_month].iloc[-1])
df.head()

              Open    High     Low   Close      Volume
2000-11-01  3000.0  3270.0  2960.0  3260.0  94165000.0
2001-04-30  4460.0  4620.0  4410.0  4580.0  38228552.0
2001-11-01  3540.0  3630.0  3480.0  3580.0  34297252.0
2002-04-30  7660.0  7770.0  7560.0  7640.0  44786600.0
2002-11-01  6860.0  6920.0  6770.0  6820.0  27227800.0

In [51]:
from backtesting import Strategy, Backtest
from backtesting.lib import crossover


#전략 설정
class halloween(Strategy):

    def init(self):
        self.does_have_stock = False
    
    def next(self):
        if self.does_have_stock == True:
            self.position.close()
            self.does_have_stock = False
        else:
            self.buy()
            self.does_have_stock = True

In [52]:
bt = Backtest(df, halloween, cash=50000, commission=.0015)
stats = bt.run()
stats

Start                     2000-11-01 00:00:00
End                       2020-04-29 00:00:00
Duration                   7119 days 00:00:00
Exposure Time [%]                        95.0
Equity Final [$]                   510101.985
Equity Peak [$]                    522850.485
Return [%]                          920.20397
Buy & Hold Return [%]             1433.742331
Return (Ann.) [%]             226322622.10702
Volatility (Ann.) [%]      26376933024.176739
Sharpe Ratio                          0.00858
Sortino Ratio                  4771163.608092
Calmar Ratio                  19554288.360899
Max. Drawdown [%]                  -11.574066
Avg. Drawdown [%]                   -6.907306
Max. Drawdown Duration      733 days 00:00:00
Avg. Drawdown Duration      600 days 00:00:00
# Trades                                   19
Win Rate [%]                        68.421053
Best Trade [%]                     116.060091
Worst Trade [%]                    -12.085225
Avg. Trade [%]                      13.342481
Max. Trade Duration         181 days 00:00:00
Avg. Trade Duration         180 days 00:00:00
Profit Factor                        7.839265
Expectancy [%]                      16.037247
SQN                                  2.324315
_strategy                           halloween
_equity_curve                             ...
_trades                       Size  EntryB...
dtype: object