In [12]:
import FinanceDataReader as fdr
data = fdr.DataReader('005930', start = '2000', end = '2021')

In [13]:
df = pd.DataFrame()
for year in range(2000, 2020):
    buy_month = str(year) + '-11'
    sell_month = str(year+1) + '-04'
    df = df.append(data.loc[buy_month].iloc[0])
    df = df.append(data.loc[sell_month].iloc[-1])
df.head()

              Open    High     Low   Close     Volume    Change
2000-11-01  3000.0  3270.0  2960.0  3260.0  1883300.0  0.143860
2001-04-30  4460.0  4620.0  4410.0  4580.0   764571.0  0.055300
2001-11-01  3540.0  3630.0  3480.0  3580.0   685945.0  0.031700
2002-04-30  7660.0  7770.0  7560.0  7640.0   895732.0  0.002625
2002-11-01  6859.0  6920.0  6770.0  6820.0   544556.0 -0.011594

In [14]:
from backtesting import Strategy, Backtest
from backtesting.lib import crossover


#전략 설정
class halloween(Strategy):

    def init(self):
        self.does_have_stock = False
    
    def next(self):
        if self.does_have_stock == True:
            self.position.close()
            self.does_have_stock = False
        else:
            self.buy()
            self.does_have_stock = True

In [18]:
bt = Backtest(df, halloween, cash=50000000, commission=.0015)
stats = bt.run()
stats

Start                     2000-11-01 00:00:00
End                       2020-04-29 00:00:00
Duration                   7119 days 00:00:00
Exposure Time [%]                        95.0
Equity Final [$]                540336777.069
Equity Peak [$]                 554133606.169
Return [%]                         980.673554
Buy & Hold Return [%]             1433.742331
Return (Ann.) [%]            325293485.367075
Volatility (Ann.) [%]      44205694011.650513
Sharpe Ratio                         0.007359
Sortino Ratio                   6547204.28453
Calmar Ratio                  26945963.010651
Max. Drawdown [%]                  -12.072068
Avg. Drawdown [%]                   -7.225789
Max. Drawdown Duration      917 days 00:00:00
Avg. Drawdown Duration      627 days 00:00:00
# Trades                                   19
Win Rate [%]                        68.421053
Best Trade [%]                     116.060091
Worst Trade [%]                    -13.173718
Avg. Trade [%]                      12.996069
Max. Trade Duration         181 days 00:00:00
Avg. Trade Duration         180 days 00:00:00
Profit Factor                        7.020306
Expectancy [%]                      15.763524
SQN                                  2.020888
_strategy                           halloween
_equity_curve                             ...
_trades                        Size  Entry...
dtype: object

In [19]:
stats._strategy

In [20]:
stats['_trades']

,Size,EntryBar,ExitBar,EntryPrice,ExitPrice,PnL,ReturnPct,EntryTime,ExitTime,Duration
0,14103,2,3,3545.3100,7660.0,5.802947e+07,1.160601,2001-11-01,2002-04-30,180 days
1,15726,4,5,6869.2885,6040.0,-1.304139e+07,-0.120724,2002-11-01,2003-04-30,180 days
2,10089,6,7,9414.1000,11200.0,1.801795e+07,0.189705,2003-11-03,2004-04-30,179 days
3,12895,8,9,8763.1250,9040.0,3.570303e+06,0.031595,2004-11-01,2005-04-29,179 days
4,10393,10,11,11216.8000,13240.0,2.102712e+07,0.180372,2005-11-01,2006-04-28,178 days
5,11116,12,13,12378.5400,11600.0,-8.654251e+06,-0.062894,2006-11-01,2007-04-30,180 days
6,11599,14,15,11116.6500,14180.0,3.553180e+07,0.275564,2007-11-01,2008-04-30,181 days
7,15464,16,17,10635.9300,11900.0,1.954758e+07,0.118849,2008-11-03,2009-04-30,178 days
8,12922,18,19,14241.3300,16560.0,2.996185e+07,0.162813,2009-11-02,2010-04-30,179 days
9,14187,20,21,15082.5900,18020.0,4.167304e+07,0.194755,2010-11-01,2011-04-29,179 days
10,13185,22,23,19389.0400,27900.0,1.122170e+08,0.438957,2011-11-01,2012-04-30,181 days
11,14182,24,25,25938.8500,29800.0,5.475883e+07,0.148856,2012-11-01,2013-04-30,180 days
12,14161,26,27,29844.7000,27600.0,-3.178720e+07,-0.075213,2013-11-01,2014-04-30,180 days
13,15610,28,29,25037.5000,27699.0,4.154602e+07,0.106301,2014-11-03,2015-04-30,178 days
14,15586,30,31,27741.5500,25200.0,-3.961260e+07,-0.091615,2015-11-02,2016-04-29,179 days
15,12030,32,33,32648.9000,45780.0,1.579671e+08,0.402191,2016-11-01,2017-04-28,178 days
16,9563,34,35,57586.2500,0.0,-7.254731e+07,-0.131737,2017-11-01,2018-04-30,180 days
17,11923,36,37,42513.6750,46000.0,4.156745e+07,0.082005,2018-11-01,2019-04-30,180 days
18,10822,38,39,50675.9000,49900.0,-8.396790e+06,-0.015311,2019-11-01,2020-04-29,180 days