In [12]:
import FinanceDataReader as fdr
data = fdr.DataReader('005930', start = '2000', end = '2021')

In [13]:
df = pd.DataFrame()
for year in range(2000, 2020):
    buy_month = str(year) + '-11'
    sell_month = str(year+1) + '-04'
    df = df.append(data.loc[buy_month].iloc[0])
    df = df.append(data.loc[sell_month].iloc[-1])
df.head()

              Open    High     Low   Close     Volume    Change
2000-11-01  3000.0  3270.0  2960.0  3260.0  1883300.0  0.143860
2001-04-30  4460.0  4620.0  4410.0  4580.0   764571.0  0.055300
2001-11-01  3540.0  3630.0  3480.0  3580.0   685945.0  0.031700
2002-04-30  7660.0  7770.0  7560.0  7640.0   895732.0  0.002625
2002-11-01  6859.0  6920.0  6770.0  6820.0   544556.0 -0.011594

In [14]:
from backtesting import Strategy, Backtest
from backtesting.lib import crossover


#전략 설정
class halloween(Strategy):

    def init(self):
        self.does_have_stock = False
    
    def next(self):
        if self.does_have_stock == True:
            self.position.close()
            self.does_have_stock = False
        else:
            self.buy()
            self.does_have_stock = True

In [15]:
bt = Backtest(df, halloween, cash=50000, commission=.0015)
stats = bt.run()
stats

Start                     2000-11-01 00:00:00
End                       2020-04-29 00:00:00
Duration                   7119 days 00:00:00
Exposure Time [%]                        95.0
Equity Final [$]                  510103.0075
Equity Peak [$]                   522851.5075
Return [%]                         920.206015
Buy & Hold Return [%]             1433.742331
Return (Ann.) [%]            226325480.206344
Volatility (Ann.) [%]       26371175789.68446
Sharpe Ratio                         0.008582
Sortino Ratio                  4771686.787052
Calmar Ratio                   19578150.56515
Max. Drawdown [%]                  -11.560105
Avg. Drawdown [%]                   -6.905094
Max. Drawdown Duration      733 days 00:00:00
Avg. Drawdown Duration      600 days 00:00:00
# Trades                                   19
Win Rate [%]                        68.421053
Best Trade [%]                     116.060091
Worst Trade [%]                    -13.173718
Avg. Trade [%]                      12.996069
Max. Trade Duration         181 days 00:00:00
Avg. Trade Duration         180 days 00:00:00
Profit Factor                        7.020306
Expectancy [%]                      15.763524
SQN                                  2.106726
_strategy                           halloween
_equity_curve                             ...
_trades                       Size  EntryB...
dtype: object

In [16]:
stats._strategy

In [17]:
stats['_trades']

,Size,EntryBar,ExitBar,EntryPrice,ExitPrice,PnL,ReturnPct,EntryTime,ExitTime,Duration
0,14,2,3,3545.3100,7660.0,57605.6600,1.160601,2001-11-01,2002-04-30,180 days
1,15,4,5,6869.2885,6040.0,-12439.3275,-0.120724,2002-11-01,2003-04-30,180 days
2,10,6,7,9414.1000,11200.0,17859.0000,0.189705,2003-11-03,2004-04-30,179 days
3,12,8,9,8763.1250,9040.0,3322.5000,0.031595,2004-11-01,2005-04-29,179 days
4,10,10,11,11216.8000,13240.0,20232.0000,0.180372,2005-11-01,2006-04-28,178 days
5,11,12,13,12378.5400,11600.0,-8563.9400,-0.062894,2006-11-01,2007-04-30,180 days
6,11,14,15,11116.6500,14180.0,33696.8500,0.275564,2007-11-01,2008-04-30,181 days
7,15,16,17,10635.9300,11900.0,18961.0500,0.118849,2008-11-03,2009-04-30,178 days
8,12,18,19,14241.3300,16560.0,27824.0400,0.162813,2009-11-02,2010-04-30,179 days
9,13,20,21,15082.5900,18020.0,38186.3300,0.194755,2010-11-01,2011-04-29,179 days
10,12,22,23,19389.0400,27900.0,102131.5200,0.438957,2011-11-01,2012-04-30,181 days
11,13,24,25,25938.8500,29800.0,50194.9500,0.148856,2012-11-01,2013-04-30,180 days
12,13,26,27,29844.7000,27600.0,-29181.1000,-0.075213,2013-11-01,2014-04-30,180 days
13,14,28,29,25037.5000,27699.0,37261.0000,0.106301,2014-11-03,2015-04-30,178 days
14,14,30,31,27741.5500,25200.0,-35581.7000,-0.091615,2015-11-02,2016-04-29,179 days
15,11,32,33,32648.9000,45780.0,144442.1000,0.402191,2016-11-01,2017-04-28,178 days
16,8,34,35,57586.2500,0.0,-60690.0000,-0.131737,2017-11-01,2018-04-30,180 days
17,11,36,37,42513.6750,46000.0,38349.5750,0.082005,2018-11-01,2019-04-30,180 days
18,10,38,39,50675.9000,49900.0,-7759.0000,-0.015311,2019-11-01,2020-04-29,180 days